:root {
 --main-color: #000000a6;
};
.open-modal {
  color: var(--main-color);
  margin-left: -13px;
};

.icon-edit {
  margin-right: 4px;
};

.divider {
  height: 0px;
  margin: 5px;
};

.ant-modal-header {
  border: none;
};
